@import "tailwindcss";

/* ✔️ VARIABLES APP */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* ✔️ HTML FULLSCREEN */
html {
  background: var(--page-bg, #ffffff);
  width: 100%;
  height: 100%;
  color: var(--page-fg, #000000);
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: hidden;
}

/* ✔️ BODY FULLSCREEN */
body {
  margin: 0;

  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  background: var(--page-bg, #ffffff);
  color: var(--page-fg, #000000);

  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;
  overflow-y: auto;

  /* ✔️ SAFE AREA IPHONE */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  /* ✔️ evita zoom raro */
  -webkit-text-size-adjust: 100%;

  /* ✔️ sensación app */
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  -webkit-user-select: none;
  user-select: none;

  /* ✔️ OCULTAR SCROLLBAR */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* ✔️ OCULTAR SCROLLBAR WEBKIT */
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* ✔️ OCULTAR SCROLLBAR HTML */
html::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* ✔️ DESACTIVAR PINCH ZOOM */
* {
  touch-action: manipulation;
}


/* ✔️ DESACTIVAR EFECTO BOUNCE/PULL-TO-REFRESH */
html {
  overscroll-behavior: none;
  overscroll-behavior-y: contain;
}

body {
  overscroll-behavior: none;
  overscroll-behavior-y: contain;
}

#__next {
  overscroll-behavior-y: contain;
}

/* ✔️ NEXT ROOT */
#__next {
  min-height: 100vh;
  min-height: 100dvh;
}

/* ✔️ INPUTS IOS */
input,
textarea,
select {
  font-size: 16px;
}