@import "tailwindcss";

/* ✔️ VARIABLES APP */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* ✔️ HTML FULLSCREEN */
html {
  background: #ffffff;
  width: 100%;
  height: 100%;
}

/* ✔️ BODY FULLSCREEN */
body {
  margin: 0;

  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  background: #ffffff;
  color: #000000;

  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;

  /* ✔️ SAFE AREA IPHONE */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  /* ✔️ evita zoom raro */
  -webkit-text-size-adjust: 100%;

  /* ✔️ sensación app */
  overscroll-behavior: none;
}

/* ✔️ NEXT ROOT */
#__next {
  min-height: 100vh;
  min-height: 100dvh;
}

/* ✔️ INPUTS IOS */
input,
textarea,
select {
  font-size: 16px;
}